body{
 background-color: rgb(253, 251, 251);   
}
#cabecalho{
position:fixed;
top:0px;
width: 100%;
background-color: aqua;
}

#minha_foto{
width: 200px;
padding: 70px;
margin-top: 2%;
}
#link_externo{
font-size: 30px;
}
#licoes_aprendidas{
display:inline-block;
}
#licoes_a_aprender{
display: inline-block;
}
.nav{
    text-decoration: none;
}